/* Base styles */
 body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8fafc;
  scroll-behavior: smooth;
}

main {
  padding-top: 80px;
}

section {
  padding: 4rem 2rem;
  min-height: 100vh;
  scroll-margin-top: 80px;
}

 /*Section containers */
.about-section,
.education-section,
.skills-section,
.experience-section,
.projects-section,
.contact-section {
  background: white;
  margin-top: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.06);
}
 
